<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <h2 class="sidebar-title">HiEnd</h2>
    </div>
    <nav class="menu">
      <ul class="menu-nav nav">
        <li class="nav-item">
          <a routerLink="/registration" routerLinkActive="active" class="nav-link">Auth</a>
        </li>
        <li class="nav-item">
          <a routerLink="/markup" routerLinkActive="active" class="nav-link">MarkUp</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>